@import "reset.css";

body {
  color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.category-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px black;
}

.category-header-element {
  transition: all 250ms;
  background-color: rgb(190, 190, 190);
  padding: 12px;
  flex: 1;
  text-align: center;
}

.category-header-element:hover {
  background-color: white;
}